In [1]:
# import pandas
import pandas as pd  

# from apyori import apriori
from apyori import apriori

In [2]:
# load data 
movie_data = pd.read_csv('https://raw.githubusercontent.com/pirandello/apriori/master/movie_dataset.csv', 
                         header = None)

* explore the dataset

In [4]:
movie_data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,The Revenant,13 Hours,Allied,Zootopia,Jigsaw,Achorman,Grinch,Fast and Furious,Ghostbusters,Wolverine,Mad Max,John Wick,La La Land,The Good Dunosaur,Ninja Turtles,The Good Dunosaur Bad Moms,2 Guns,Inside Out,Valerian,Spiderman 3
1,Beirut,Martian,Get Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deadpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Allied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ninja Turtles,Moana,Ghost in the Shell,Ralph Breaks the Internet,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mad Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,The Spy Who Dumped Me,Hotel Transylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Thor,London Has Fallen,The Lego Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Intern,Tomb Rider,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Hotel Transylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
num_records = len(movie_data)
print(num_records)

7501

* transform dataframe to list of lists (suitable format for apyori)

In [6]:
records = []  
for i in range(0, num_records):  
    records.append([str(movie_data.values[i,j]) for j in range(0, 20)])

* instantiate apriori and set the input params based on following constraints:
    * we want only movies that are purchased at least 40 times
    * the minimum confidence for the rules is 20%
    * the minumum lift is 3

In [7]:
association_rules = apriori(records, min_support=0.0053, min_confidence=0.20, min_lift=3, min_length=2)
association_results = list(association_rules)

* how many association rules did we obtained ?

In [8]:
print(len(association_results))

32

* print the first association rule

In [9]:
association_results[0]

RelationRecord(items=frozenset({'Red Sparrow', 'Green Lantern'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Red Sparrow'}), items_add=frozenset({'Green Lantern'}), confidence=0.3006993006993007, lift=3.790832696715049)])

* convert association rules to DataFrame 
    * use these columns: title_1, title_2, support, confidence, lift

In [10]:
results = []
for item in association_results:
    
    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])

    #second index of the inner list
    value2 = str(item[1])[:7]

    #third index of the list located at 0th
    #of the third index of the inner list

    value3 = str(item[2][0][2])[:7]
    value4 = str(item[2][0][3])[:7]
    
    rows = (value0, value1,value2,value3,value4)
    results.append(rows)
    
labels = ['Title 1','Title 2','Support','Confidence','Lift']
movie_suggestion = pd.DataFrame.from_records(results, columns = labels)

print(movie_suggestion)

                  Title 1                Title 2  Support Confidence     Lift
0             Red Sparrow          Green Lantern  0.00573    0.30069  3.79083
1           Green Lantern              Star Wars  0.00586    0.37288  4.70081
2                 Jumanji          Kung Fu Panda  0.01599    0.32345  3.29199
3                 Jumanji           Wonder Woman  0.00533    0.37735  3.84065
4   The Spy Who Dumped Me            Spiderman 3  0.00799    0.27149  4.12241
5                  Intern           The Revenant  0.00533    0.23255  3.25451
6                     nan            Red Sparrow  0.00573    0.30069  3.79083
7                     nan          Green Lantern  0.00586    0.37288  4.70081
8                  Intern                Jumanji  0.00866    0.31100  3.16532
9                  Intern          Ninja Turtles  0.00719    0.30508  3.20061
10                 Intern            Spiderman 3  0.00573    0.20574  3.12402
11                 Intern           The Revenant  0.00599    0.21531  3.01314
12                 Intern            World War Z  0.00666    0.23923  3.49804
13                Jumanji               Iron Man  0.00533    0.32258  3.28314
14                Jumanji          Ninja Turtles  0.00666    0.39062  3.97568
15                Jumanji          Kung Fu Panda  0.00639    0.39344  4.00435
16                Jumanji                    nan  0.01599    0.32345  3.29199
17                Jumanji           The Revenant  0.00599    0.52325  3.00531
18                Jumanji                    nan  0.00533    0.37735  3.84065
19                  Moana            Spiderman 3  0.00719    0.20300  3.08250
20                    nan  The Spy Who Dumped Me  0.00799    0.27149  4.13077
21                 Intern                    nan  0.00533    0.23255  3.26059
22                 Intern                    nan  0.00866    0.31100  3.16532
23                 Intern                    nan  0.00719    0.30508  3.20061
24                 Intern                    nan  0.00573    0.20574  3.13036
25                 Intern                    nan  0.00599    0.21531  3.01878
26                 Intern            World War Z  0.00666    0.23923  3.49804
27                Jumanji                    nan  0.00533    0.32258  3.28314
28                Jumanji                    nan  0.00666    0.39062  3.97568
29                Jumanji                    nan  0.00639    0.39344  4.00435
30                Jumanji                    nan  0.00599    0.52325  3.00531
31                  Moana                    nan  0.00719    0.20300  3.08876