## Hypothesis Testing Assignment

In [2]:
!pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.9.1-cp39-cp39-win_amd64.whl (38.6 MB)
     -------------------------------------- 38.6/38.6 MB 677.3 kB/s eta 0:00:00
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from scipy) (1.23.3)
Installing collected packages: scipy
Successfully installed scipy-1.9.1

In [3]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [8]:
df = pd.read_csv('nba_games_2013_2015.csv', sep = ';')

In [16]:
df_sorted = df.sort_values(by=['SEASON_ID'])

In [21]:
df13 = df_sorted[df_sorted['SEASON_ID'] == 22013]
df14 = df_sorted[df_sorted['SEASON_ID'] == 22014]
df15 = df_sorted[df_sorted['SEASON_ID'] == 22015]

In [22]:
df15.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
822,22015,1610612750,MIN,Minnesota Timberwolves,21500821,2016-02-20,MIN vs. NYK,L,240,95,...,0.720,7,24,31,24,9,6,7,11,-8.0
821,22015,1610612748,MIA,Miami Heat,21500820,2016-02-20,MIA vs. WAS,W,240,114,...,0.643,19,48,67,23,2,9,7,20,20.0
820,22015,1610612764,WAS,Washington Wizards,21500820,2016-02-20,WAS @ MIA,L,242,94,...,0.524,12,33,45,13,5,4,6,23,-20.0
819,22015,1610612737,ATL,Atlanta Hawks,21500819,2016-02-20,ATL vs. MIL,L,289,109,...,0.667,10,39,49,31,11,8,16,27,-8.0
818,22015,1610612746,LAC,LA Clippers,21500822,2016-02-20,LAC vs. GSW,L,242,112,...,0.833,15,34,49,24,9,2,14,24,-3.0

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [32]:
#PTS for both teams
clePTS = df15[df15['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
gswPTS = df15[df15['TEAM_NAME'] == 'Golden State Warriors']['PTS']

#FG_PCT for both teams
cleFG = df15[df15['TEAM_NAME'] == 'Cleveland Cavaliers']['FG_PCT']
gswFG = df15[df15['TEAM_NAME'] == 'Golden State Warriors']['FG_PCT']

In [33]:
#H0: AVG(clePTS) = AVG(gswPTS)
#HA: AVG(clePTS) != AVG(gswPTS)

st.ttest_ind(clePTS, gswPTS)

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

In [45]:
# reject H0 - low probability that these results would be seen if cleveland and golden state were part of the same distribution

In [46]:
#H0: AVG(cleFG) = AVG(gswFG)
#HA: AVG(cleFG) != AVG(gswFG)

st.ttest_ind(cleFG, gswFG)

Ttest_indResult(statistic=-3.1319529759582565, pvalue=0.0020609758104754962)

In [47]:
# reject H0 - low probability that these results would be seen if cleveland and golden state were part of the same distribution

In [48]:
print(np.mean(clePTS))
print(np.mean(gswPTS))

print(np.mean(cleFG))
print(np.mean(gswFG))

104.32926829268293
114.89024390243902
0.4619512195121951
0.48847560975609755

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [54]:
df['GAME_DATE'] = pd.to_datetime(df['GAME_DATE'], format='%Y-%m-%d')

In [60]:
cleB = df[df['TEAM_NAME']=='Cleveland Cavaliers']&df[df['GAME_DATE']>'2016-01-24']
cleB

TypeError: unsupported operand type(s) for &: 'float' and 'float'

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.