## Hypothesis Testing Assignment

In [2]:
!pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.9.1-cp39-cp39-win_amd64.whl (38.6 MB)
     -------------------------------------- 38.6/38.6 MB 677.3 kB/s eta 0:00:00
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in c:\users\user\appdata\roaming\python\python39\site-packages (from scipy) (1.23.3)
Installing collected packages: scipy
Successfully installed scipy-1.9.1

In [2]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [3]:
df = pd.read_csv('nba_games_2013_2015.csv', sep = ';')

In [4]:
# df = df.sort_values(by=['SEASON_ID'])

In [5]:
df13 = df[df['SEASON_ID'] == 22013]
df14 = df[df['SEASON_ID'] == 22014]
df15 = df[df['SEASON_ID'] == 22015]

In [6]:
df15

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,22015,1610612744,GSW,Golden State Warriors,21500003,2015-10-27,GSW vs. NOP,W,241,111,...,0.909,21,35,56,29,8,7,20,29,16.0
2456,22015,1610612739,CLE,Cleveland Cavaliers,21500002,2015-10-27,CLE @ CHI,L,240,95,...,0.588,11,39,50,26,5,7,10,21,-2.0
2457,22015,1610612740,NOP,New Orleans Pelicans,21500003,2015-10-27,NOP @ GSW,L,241,95,...,0.704,8,25,33,21,9,3,18,26,-16.0
2458,22015,1610612741,CHI,Chicago Bulls,21500002,2015-10-27,CHI vs. CLE,W,240,97,...,0.696,7,40,47,13,6,10,13,22,2.0
2459,22015,1610612737,ATL,Atlanta Hawks,21500001,2015-10-27,ATL vs. DET,L,239,94,...,0.800,7,33,40,22,9,4,15,25,-12.0

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [7]:
#PTS for both teams
clePTS = df15[df15['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
gswPTS = df15[df15['TEAM_NAME'] == 'Golden State Warriors']['PTS']

#FG_PCT for both teams
cleFG = df15[df15['TEAM_NAME'] == 'Cleveland Cavaliers']['FG_PCT']
gswFG = df15[df15['TEAM_NAME'] == 'Golden State Warriors']['FG_PCT']

This is a test for the null hypothesis that 2 independent samples have identical average (expected) values. This test assumes that the populations have identical variances by default.

In [8]:
#H0: AVG(clePTS) = AVG(gswPTS)
#HA: AVG(clePTS) != AVG(gswPTS)

# assign alpha

alpha = 0.05

# calculate t-statistic and p-value

t1,p1 = st.ttest_ind(clePTS, gswPTS)

# evaluate results

def hypothesis_test(t,p,alpha):
    if p < alpha:
        print('H0 is rejected.')
    else:
        print('H0 is not rejected.')
    print(f't-statistic: {t}; p-value: {p}')
hypothesis_test(t1,p1,alpha)

H0 is rejected.
t-statistic: -5.973920595717936; p-value: 1.4233420547764935e-08

In [9]:
# reject H0 - low probability that these results would be seen if cleveland and golden state were part of the same distribution

In [10]:
#H0: AVG(cleFG) = AVG(gswFG)
#HA: AVG(cleFG) != AVG(gswFG)

t2,p2 = st.ttest_ind(cleFG, gswFG)

# evaluate

hypothesis_test(t2,p2,alpha)

H0 is rejected.
t-statistic: -3.13195297595825; p-value: 0.00206097581047554

In [11]:
# reject H0 - low probability that these results would be seen if cleveland and golden state were part of the same distribution

**We reject the null hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season**

In [12]:
print(np.mean(clePTS))
print(np.mean(gswPTS))

print(np.mean(cleFG))
print(np.mean(gswFG))

104.32926829268293
114.89024390243902
0.46195121951219514
0.48847560975609755

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [13]:
# Pts from games where Blatt is coach in 2015

df_b15 = df15[(df15['TEAM_NAME'] == 'Cleveland Cavaliers') & (df15['GAME_DATE'] < '2016-01-24')]['PTS']

In [14]:
# Pts from games where Blatt is coach in 2014 

df_b14 = df14[df14['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']

In [15]:
# Concatenate both dfs with games under coach Blatt, pass in a list with objs, specify axis
# axis=0 means concat on rows, axis=1 means concat on columns

df_Blatt = pd.concat([df_b14,df_b15], axis=0)
np.mean(df_Blatt)

102.39516129032258

In [16]:
# Pts from games where Blatt is not coach

df_NoBlatt = df[(df['TEAM_NAME'] == 'Cleveland Cavaliers') & (df['GAME_DATE'] >='2016-01-24')]['PTS']
np.mean(df_NoBlatt)

107.875

In [20]:
#H0: AVG(PTS_Blatt) = AVG(PTS_NoBlatt)
#HA: AVG(PTS_Blatt) != AVG(PTS_NoBlatt)

# assign alpha

alpha = 0.05

# Since samples have different size, we need to perform a Welch's t-test (https://www.statology.org/t-test-unequal-sample-size/)
# We can use the same ttest_ind method, however we need to specify parameter equal_var=False
# This is because larger samples will have less variance than smaller samples. Since one sample is larger than the other, we know that they will not have equal variance.

t3,p3 = st.ttest_ind(df_Blatt, df_NoBlatt, equal_var=False)

# evaluate

hypothesis_test(t3,p3,alpha)

H0 is rejected.
t-statistic: -3.020359501985649; p-value: 0.0032905001945984953

p-value of 0.0033 tells us that there is about a 0.3% chance that we would get the difference of means observed before and after Blatt was fired if there was no significant difference between the points score before and after Blatt was fired.
**We reject the null hypothesis that the number of points (PTS) scored by Cleveland Cavaliers did not change significantly after the head coach changed in the 2015/2016 season**

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

In [25]:
playoff_df = pd.read_csv("nba_playoff_games_2016.csv", sep = ';')
playoff_df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,...,0.690,9,26,35,19,5,3,14,25,-14.0
3,42015,1610612739,CLE,Cleveland Cavaliers,41500406,2016-06-16,CLE vs. GSW,W,240,115,...,0.781,8,37,45,24,12,7,10,25,14.0
4,42015,1610612739,CLE,Cleveland Cavaliers,41500405,2016-06-13,CLE @ GSW,W,241,112,...,0.609,8,33,41,15,11,9,16,22,15.0

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [26]:
# H0: BLK_reg_season = BLK_playoff_season
# HA: BLK_reg_season != BLK_playoff_season

In [27]:
# Get the number of BLKs for the 2015/2016 regular season for Toronto Raptors

df_reg_season = df15[df15['TEAM_NAME'] == 'Toronto Raptors']['BLK']
df_reg_season

9       10
28       5
71       6
96       5
110      4
        ..
2323     3
2346     6
2370     3
2414     3
2448     2
Name: BLK, Length: 82, dtype: int64

In [28]:
# Get the number of BLKs for the playoff season for Toronto Raptors

df_playoff_season = playoff_df[playoff_df['TEAM_NAME'] == 'Toronto Raptors']['BLK']
df_playoff_season

19     2
22     3
26     3
31     4
32     4
36     1
40     4
43     4
46     7
55     2
61     0
69     1
72     6
84     7
91     5
102    3
123    3
135    4
152    5
166    5
Name: BLK, dtype: int64

In [29]:
# set alpha

alpha = 0.05

# Since samples have different size, we need to perform a Welch's t-test

t4,p4 = st.ttest_ind(df_reg_season, df_playoff_season, equal_var=False)

# evaluate

hypothesis_test(t4,p4,alpha)

H0 is rejected.
t-statistic: 3.5004381368704727; p-value: 0.0011403514552816166

**We reject the null hypothesis that number of blocks (BLK) are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the Toronto Raptors**


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [30]:
# H0: ClePTS13 = ClePTS14 = ClePTS15
# HA: ClePTS13 != ClePTS14 != ClePTS15

In [31]:
# Find Cleveland Cavaliers PTS from all three seasons:

ClePTS13 = df13[df13['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
ClePTS14 = df14[df14['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
ClePTS15 = df15[df15['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']

In [32]:
# set alpha

alpha = 0.05

# The one-way ANOVA tests the null hypothesis that two or more groups have the same population mean. The test is applied to samples from two or more groups, possibly with differing sizes.

F, p = st.f_oneway(ClePTS13, ClePTS14, ClePTS15)

# evaluate

hypothesis_test(F,p,alpha)

H0 is rejected.
t-statistic: 5.9200250318080885; p-value: 0.003087727119983984

**We rejct the null hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 season.**

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [33]:
print(np.mean(ClePTS13))
print(np.mean(ClePTS14))
print(np.mean(ClePTS15))

98.21951219512195
103.13414634146342
104.32926829268293

In [34]:
# do t-test between samples from each season
# H0: ClePTS13 = ClePTS14
# HA: ClePTS13 != ClePTS14

## 2013 and 2014

# set alpha

alpha = 0.05

# Since samples have different size, we need to perform a Welch's t-test

t5,p5 = st.ttest_ind(ClePTS13, ClePTS14, equal_var=False)

# evaluate
hypothesis_test(t5,p5,alpha)
hypothesis_test(t5a,p5a,alpha)

H0 is rejected.
t-statistic: -2.508958204796911; p-value: 0.013092273648525245
H0 is rejected.
t-statistic: -2.508958204796911; p-value: 0.013091680534336523

In [36]:
## 2014 and 2015

# set alpha

alpha = 0.05

# Since samples have different size, we need to perform a Welch's t-test

t6,p6 = st.ttest_ind(ClePTS14, ClePTS15, equal_var=False)

# evaluate
hypothesis_test(t6,p6,alpha)
hypothesis_test(t6a,p6a,alpha)

H0 is not rejected.
t-statistic: -0.6442093460555935; p-value: 0.5203691269861739
H0 is not rejected.
t-statistic: -0.6442093460555935; p-value: 0.5203507617734474

**We see the most significant difference between the 2013/2014 season and the 2014/2015 season.**