In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [4]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [7]:
superman = cast[cast['character'] == 'Superman'].count()
superman

title        50
year         50
name         50
type         50
character    50
n            39
dtype: int64

In [8]:
batman = cast[cast['character'] == 'Batman'].count()
batman

title        77
year         77
name         77
type         77
character    77
n            53
dtype: int64

### How many years have been "Batman years", with more Batman characters than Superman characters?

### Count the number of actor roles for each year and the number of actress roles for each year over the history of film.

### Find the difference between the number of actor roles and the number of actress roles for each year over the history of film.

### What is the proportion of roles that have been 'actor' roles for each year in the history of film.

### What is the proportion of supporting (n=2) roles that have been 'actor' roles for each year in the history of film.