# Arithmetics

In [15]:
#right of equation evaluated first

a= -2
b=12.9

c = a + b
c = c + a
c

8.9

In [4]:
# floor division - always rounds down.

c = b // a

In [5]:
c

-7.0

In [8]:
c = round(8.187,2) # round to second decimal point

In [9]:
c

8.19

In [11]:
# casting between integers and floats
c = float(a)

In [12]:
c

-2.0

In [13]:
d = int(b) # rounds it down

In [14]:
d

12

# Strings

In [16]:
c = '''this
is a
multiline'''
c #allows for line breaks within a string

'this\nis a\nmultiline'

# Lists

In [17]:
# .index() method returns the index of the item

people = ['mal','zoe','wash']
people.index('wash')

2

In [18]:
# change single values at a time in a list

people[0] = 'Jessica'
people

['Jessica', 'zoe', 'wash']

In [19]:
# use del to delete list items

del people[2]
people

['Jessica', 'zoe']

In [20]:
# append

people.append('John')

In [21]:
people

['Jessica', 'zoe', 'John']

In [23]:
more_people = people + ['Simon', 'Brandon']

In [24]:
more_people

['Jessica', 'zoe', 'John', 'Simon', 'Brandon']

In [27]:
s = 'strings work a lot like lists in terms of iteration'

# split a string into a list using string method .split()

s.split()

['strings',
 'work',
 'a',
 'lot',
 'like',
 'lists',
 'in',
 'terms',
 'of',
 'iteration']

In [29]:
# default substring to split on is a space

# can also split on other substrings

s.split('s ')

['string', 'work a lot like list', 'in term', 'of iteration']

# Tuples

In [36]:
# helpful because can unpack items into a variables - have to have the same number of variables and items

x = ('simon','python','canada')
name, language, country = x

In [33]:
name

'simon'

In [34]:
language

'python'

# Dictionaries

In [37]:
# .items() returns key value pairs from a dictionary

# good opportunity to use tuple unpacking
x = {1:2,2:3}

for key, value in x.items():
    print(str(key) + ' | ' + str(value))

1 | 2
2 | 3

# Sets

In [39]:
# doesn't contain any duplicates

In [40]:
# when you put something in a set, all the duplicates are removed
my_set = {2,1.0,'apple',1.0,'apPle'}
my_set

{1.0, 2, 'apPle', 'apple'}

# For Loops

In [ ]:
# for [variable] in [iterable data structure (like a list):
#     [what you want to do using the current value in each iteration]

In [42]:
my_name = 'jessica'

for char in my_name:
    print(char + '*')

j*
e*
s*
s*
i*
c*
a*

In [43]:
course_marks = [100, 90, 95, 80]
marks_sum = 0 # accumulator

for mark in course_marks:
    marks_sum += mark
    
print(marks_sum / len(course_marks))

91.25

In [44]:
for index in range(len(course_marks)):
    course_marks[index] -= 10
print(course_marks)

[90, 80, 85, 70]

# Functions

In [45]:
def what_is_my_name(name='Name'):
    print("Your name is "+ str(name))

what_is_my_name() # since we specified a default parameter, function will work even if you don't pass an argument to the parameter

Your name is Name

In [46]:
what_is_my_name(1)

Your name is 1

In [47]:
'''use triple single quotes around explanation after defining function to create a docstring'''

'use triple single quotes around explanation after defining function to create a docstring'

In [48]:
# access docstring with Shift + Tab

In [49]:
import datetime as dt

In [50]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [51]:
import numpy as np

In [53]:
# sharing python code in discord

# ```python
# some code
# some code
# some code
# # ```