In [1]:
from datetime import datetime

In [2]:
datetime_object = datetime.now()
print(datetime_object)

2022-09-20 18:17:45.441020

In [3]:
print('Type :- ',type(datetime_object))

Type :-  <class 'datetime.datetime'>

In [4]:
my_string = '2019-10-31'

In [5]:
my_date = datetime.strptime(my_string, "%Y-%m-%d")
print(my_date)
print('Type: ',type(my_date))

2019-10-31 00:00:00
Type:  <class 'datetime.datetime'>

In [6]:
print('Month: ', my_date.month)
print('Year: ', my_date.year)

Month:  10
Year:  2019

In [7]:
import calendar
print('Day of the Month: ', my_date.day)

Day of the Month:  31

In [8]:
print('Day of the Week(number): ', my_date.weekday())

Day of the Week(number):  3

In [9]:
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Week (name):  Thursday

In [11]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [12]:
from datetime import datetime 
todays_date = datetime.now()

print('Hour: ', todays_date.hour)

print('Minute: ', todays_date.minute)

Hour:  19
Minute:  4

In [13]:
todays_date.isocalendar()

datetime.IsoCalendarDate(year=2022, week=38, weekday=2)

In [15]:
from datetime import datetime

now = datetime.now()
timestamp = datetime.timestamp(now)

print("Date and Time:", now)
print("Timestamp:", timestamp)

Date and Time: 2022-09-20 19:06:54.581662
Timestamp: 1663726014.581662

In [16]:
timestamp: 1663726014.581662
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object:", dt_object)
print("type(dt_object): ", type(dt_object))

dt_object: 2022-09-20 19:06:54.581662
type(dt_object):  <class 'datetime.datetime'>

In [17]:
from datetime import timedelta
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [20]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

In [24]:
from datetime import datetime, timedelta

now = datetime.now()
print("Today's date: ", str(now))

future_date_after_15_days = now + timedelta(days = 15)
print('Date after 15 days: ', future_date_after_15_days)
      
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)

Today's date:  2022-09-20 19:16:14.971237
Date after 15 days:  2022-10-05 19:16:14.971237
Date two weeks ago:  2022-09-06 19:16:14.971237

In [25]:
from datetime import date

date1 = date(2008, 8, 18)
date2 = date(2008, 8, 10)

delta = date2 - date1
print("Difference: ", delta.days)
print("delta object type: ", type(delta))

Difference:  -8
delta object type:  <class 'datetime.timedelta'>

In [26]:
from datetime import datetime
date_string = "1 August, 2019"

date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)

date_object:  2019-08-01 00:00:00

In [27]:
dt_string = "12/11/2018 09:15:32"

dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)

dt_object1: 2018-11-12 09:15:32

In [28]:
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

dt_object2: 2018-12-11 09:15:32

In [29]:
timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

Unix Timestamp:  1544548532.0

In [30]:
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)

Output 1: Tue Dec 11 09:15:32 2018

In [33]:
from pytz import timezone

In [34]:
east = timezone('US/Eastern')

In [35]:
loc_dt = east.localize(datetime(2011,11,2,7,27,0))
print(loc_dt)

2011-11-02 07:27:00-04:00

In [38]:
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

2011-11-02 16:57:00+05:30

In [39]:
import pandas as pd

In [40]:
import datetime as dt

current_date = dt.date.today()
print(current_date)

2022-09-20

In [41]:
date1 = dt.date(2021,1,5)
print(date1)

2021-01-05

In [43]:
date2 = dt.date.today()
print(date2)

2022-09-20

In [44]:
print("Year:", date1.year)
print("Month:", date1.month)
print("Day: ", date1.day)

Year: 2021
Month: 1
Day:  5

In [45]:
time1 = dt.time(10, 45, 30, 45667)
print(time1)

10:45:30.045667

In [46]:
print("Hour:", time1.hour)
print("Minute:", time1.minute)
print("Second:", time1.second)
print("Microsecond:", time1.microsecond)

Hour: 10
Minute: 45
Second: 30
Microsecond: 45667

In [47]:
import datetime as dt

datetime_obj = dt.datetime(2021, 11, 28, 23, 55, 59)

print(datetime_obj)

2021-11-28 23:55:59