can pass iterables to set() function to create a set.

no duplicates in a set

In [8]:
s = set([1,2,3,4,1])
s

{1, 2, 3, 4}

can also define a set using curly braces

In [9]:
s = {1,2,3,1}
s

{1, 2, 3}

To recap:

The argument to set() is an iterable. It generates a list of elements to be placed into the set.
The objects in curly braces are placed into the set intact, even if they are iterable.

can create an empty set with set() (empty curly brackets is an empty dictionary)

sets can contain elements of different types, but the types must be immutable (e.g., strings, tuples, ints, floats, but NOT lists or dictionairies)

len() function returns number of elements in a set, and in and not in operators can be used to test for membership

## Union

In [18]:
x1 = {'foo','bar','baz'}
x2 = {'baz','qux','quux'}
x1 | x2 #operator - both operands must be sets

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [15]:
x1.union(x2) #method - the argument can be any iterable

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [17]:
x1.union((1,2,3))

{1, 2, 3, 'bar', 'baz', 'foo'}

more than two sets can be specified with either the operator or the method

# Intersection

In [19]:
x1 & x2

{'baz'}

In [20]:
x1.intersection(x2)

{'baz'}

# Difference

In [24]:
x1 - x2 # returns all the elements that are in set 1 but NOT in set 2 aka, returns the set that results when any elements in x2 are removed or subtracted from x1

{'bar', 'foo'}

In [25]:
x1.difference(x2)

{'bar', 'foo'}

In [28]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a - b - c # operation is performed from left to right (a-b is computed first, the c is subracted from that set)

{1, 2, 3}

In [29]:
a.difference(b,c)

{1, 2, 3}

# Symmetric Difference

In [30]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [35]:
x1.symmetric_difference(x2) # can only use with one set in the arguments

{'bar', 'foo', 'quux', 'qux'}

In [34]:
# everything that doesn't overlap

# Disjoint

In [36]:
x1.isdisjoint(x2) # returns if x1 and x2 have NO elements in common

False

In [37]:
# if x1.disjoint(x2) is True, the x1 & x2 is the empty set

# Subset

In [38]:
# set x1 is considered a subset of another set x2 if every element of x1 is in x2

In [43]:
x1.issubset({'foo','bar','baz','qux'})

True

In [44]:
x2 <= x1

False